## 1) Week 1:Data exploration

In [0]:
import pandas as pd
import numpy as np
from google.colab import files
from google.colab import drive
import seaborn as sn
import matplotlib.pyplot as plt

In [3]:

drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os
os.chdir("/content/drive/My Drive")

In [0]:
transaction_train = pd.read_csv('train_transaction.csv')
identity_train = pd.read_csv('train_identity.csv')

[link text](https://)a) Description of dataset  'transaction_train'

In [6]:
transaction_train.describe(include= 'all')

        TransactionID        isFraud  ...           V338           V339
count    5.905400e+05  590540.000000  ...   82351.000000   82351.000000
unique            NaN            NaN  ...            NaN            NaN
top               NaN            NaN  ...            NaN            NaN
freq              NaN            NaN  ...            NaN            NaN
mean     3.282270e+06       0.034990  ...     151.160542     100.700882
std      1.704744e+05       0.183755  ...    1095.034387     814.946722
min      2.987000e+06       0.000000  ...       0.000000       0.000000
25%      3.134635e+06       0.000000  ...       0.000000       0.000000
50%      3.282270e+06       0.000000  ...       0.000000       0.000000
75%      3.429904e+06       0.000000  ...       0.000000       0.000000
max      3.577539e+06       1.000000  ...  104060.000000  104060.000000

[11 rows x 394 columns]

Let us discover the number of column and row

In [7]:
print(transaction_train.shape)

(590540, 394)

We have 394 columns with 590541 rows.
Let us explore the columns names.

In [8]:
transaction_train.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338',
       'V339'],
      dtype='object', length=394)

In [9]:
transaction_train.head(n=10)

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        2987000        0          86400  ...   NaN  NaN   NaN
1        2987001        0          86401  ...   NaN  NaN   NaN
2        2987002        0          86469  ...   NaN  NaN   NaN
3        2987003        0          86499  ...   NaN  NaN   NaN
4        2987004        0          86506  ...   0.0  0.0   0.0
5        2987005        0          86510  ...   NaN  NaN   NaN
6        2987006        0          86522  ...   NaN  NaN   NaN
7        2987007        0          86529  ...   NaN  NaN   NaN
8        2987008        0          86535  ...   0.0  0.0   0.0
9        2987009        0          86536  ...   NaN  NaN   NaN

[10 rows x 394 columns]

NaN value

In [12]:
transaction_train.isnull().sum()

TransactionID          0
isFraud                0
TransactionDT          0
TransactionAmt         0
ProductCD              0
                   ...
V335              508189
V336              508189
V337              508189
V338              508189
V339              508189
Length: 394, dtype: int64

We have 590541 rows, but v335,v336, v337, v338 and v339 have 508189 Nan. We decide to remove these columns.

In [16]:
transaction_train['card1'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
590535    False
590536    False
590537    False
590538    False
590539    False
Name: card1, Length: 590540, dtype: bool

In [27]:
transaction_train.drop(['V335', 'V336', 'V337', 'V338', 'V339'], axis =1)

        TransactionID  isFraud  TransactionDT  ...  V332 V333  V334
0             2987000        0          86400  ...   NaN  NaN   NaN
1             2987001        0          86401  ...   NaN  NaN   NaN
2             2987002        0          86469  ...   NaN  NaN   NaN
3             2987003        0          86499  ...   NaN  NaN   NaN
4             2987004        0          86506  ...   0.0  0.0   0.0
...               ...      ...            ...  ...   ...  ...   ...
590535        3577535        0       15811047  ...   NaN  NaN   NaN
590536        3577536        0       15811049  ...   NaN  NaN   NaN
590537        3577537        0       15811079  ...   NaN  NaN   NaN
590538        3577538        0       15811088  ...   NaN  NaN   NaN
590539        3577539        0       15811131  ...   NaN  NaN   NaN

[590540 rows x 389 columns]

Let us verify again the Nan in dataframe

In [42]:
for i in transaction_train.columns:
  print(i, transaction_train[i].isnull().sum().sum())

TransactionID 0
isFraud 0
TransactionDT 0
TransactionAmt 0
ProductCD 0
card1 0
card2 8933
card3 1565
card4 1577
card5 4259
card6 1571
addr1 65706
addr2 65706
dist1 352271
dist2 552913
P_emaildomain 94456
R_emaildomain 453249
C1 0
C2 0
C3 0
C4 0
C5 0
C6 0
C7 0
C8 0
C9 0
C10 0
C11 0
C12 0
C13 0
C14 0
D1 1269
D2 280797
D3 262878
D4 168922
D5 309841
D6 517353
D7 551623
D8 515614
D9 515614
D10 76022
D11 279287
D12 525823
D13 528588
D14 528353
D15 89113
M1 271100
M2 271100
M3 271100
M4 281444
M5 350482
M6 169360
M7 346265
M8 346252
M9 346252
V1 279287
V2 279287
V3 279287
V4 279287
V5 279287
V6 279287
V7 279287
V8 279287
V9 279287
V10 279287
V11 279287
V12 76073
V13 76073
V14 76073
V15 76073
V16 76073
V17 76073
V18 76073
V19 76073
V20 76073
V21 76073
V22 76073
V23 76073
V24 76073
V25 76073
V26 76073
V27 76073
V28 76073
V29 76073
V30 76073
V31 76073
V32 76073
V33 76073
V34 76073
V35 168969
V36 168969
V37 168969
V38 168969
V39 168969
V40 168969
V41 168969
V42 168969
V43 168969
V44 168969
V45 168969
V46 168969
V47 168969
V48 168969
V49 168969
V50 168969
V51 168969
V52 168969
V53 77096
V54 77096
V55 77096
V56 77096
V57 77096
V58 77096
V59 77096
V60 77096
V61 77096
V62 77096
V63 77096
V64 77096
V65 77096
V66 77096
V67 77096
V68 77096
V69 77096
V70 77096
V71 77096
V72 77096
V73 77096
V74 77096
V75 89164
V76 89164
V77 89164
V78 89164
V79 89164
V80 89164
V81 89164
V82 89164
V83 89164
V84 89164
V85 89164
V86 89164
V87 89164
V88 89164
V89 89164
V90 89164
V91 89164
V92 89164
V93 89164
V94 89164
V95 314
V96 314
V97 314
V98 314
V99 314
V100 314
V101 314
V102 314
V103 314
V104 314
V105 314
V106 314
V107 314
V108 314
V109 314
V110 314
V111 314
V112 314
V113 314
V114 314
V115 314
V116 314
V117 314
V118 314
V119 314
V120 314
V121 314
V122 314
V123 314
V124 314
V125 314
V126 314
V127 314
V128 314
V129 314
V130 314
V131 314
V132 314
V133 314
V134 314
V135 314
V136 314
V137 314
V138 508595
V139 508595
V140 508595
V141 508595
V142 508595
V143 508589
V144 508589
V145 508589
V146 508595
V147 508595
V148 508595
V149 508595
V150 508589
V151 508589
V152 508589
V153 508595
V154 508595
V155 508595
V156 508595
V157 508595
V158 508595
V159 508589
V160 508589
V161 508595
V162 508595
V163 508595
V164 508589
V165 508589
V166 508589
V167 450909
V168 450909
V169 450721
V170 450721
V171 450721
V172 450909
V173 450909
V174 450721
V175 450721
V176 450909
V177 450909
V178 450909
V179 450909
V180 450721
V181 450909
V182 450909
V183 450909
V184 450721
V185 450721
V186 450909
V187 450909
V188 450721
V189 450721
V190 450909
V191 450909
V192 450909
V193 450909
V194 450721
V195 450721
V196 450909
V197 450721
V198 450721
V199 450909
V200 450721
V201 450721
V202 450909
V203 450909
V204 450909
V205 450909
V206 450909
V207 450909
V208 450721
V209 450721
V210 450721
V211 450909
V212 450909
V213 450909
V214 450909
V215 450909
V216 450909
V217 460110
V218 460110
V219 460110
V220 449124
V221 449124
V222 449124
V223 460110
V224 460110
V225 460110
V226 460110
V227 449124
V228 460110
V229 460110
V230 460110
V231 460110
V232 460110
V233 460110
V234 449124
V235 460110
V236 460110
V237 460110
V238 449124
V239 449124
V240 460110
V241 460110
V242 460110
V243 460110
V244 460110
V245 449124
V246 460110
V247 460110
V248 460110
V249 460110
V250 449124
V251 449124
V252 460110
V253 460110
V254 460110
V255 449124
V256 449124
V257 460110
V258 460110
V259 449124
V260 460110
V261 460110
V262 460110
V263 460110
V264 460110
V265 460110
V266 460110
V267 460110
V268 460110
V269 460110
V270 449124
V271 449124
V272 449124
V273 460110
V274 460110
V275 460110
V276 460110
V277 460110
V278 460110
V279 12
V280 12
V281 1269
V282 1269
V283 1269
V284 12
V285 12
V286 12
V287 12
V288 1269
V289 1269
V290 12
V291 12
V292 12
V293 12
V294 12
V295 12
V296 1269
V297 12
V298 12
V299 12
V300 1269
V301 1269
V302 12
V303 12
V304 12
V305 12
V306 12
V307 12
V308 12
V309 12
V310 12
V311 12
V312 12
V313 1269
V314 1269
V315 1269
V316 12
V317 12
V318 12
V319 12
V320 12
V321 12
V322 508189
V323 508189
V324 508189
V325 508189
V326 508189
V327 508189
V328 508189
V329 508189
V330 508189
V331 508189
V332 508189
V333 508189
V334 508189
V335 508189
V336 508189
V337 508189
V338 508189
V339 508189

We can remove column which has the great number of Nan

In [0]:
transaction_new =transaction_train.drop(['D6', 'D7', 'D8', 'D9','V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329',
                        'V330', 'V331', 'V332', 'V333', 'V334', 'V335',
                        'V336', 'V337', 'V338', 'V339'], axis =1)

In [47]:
transaction_new.head(5)

   TransactionID  isFraud  TransactionDT  ...  V319 V320  V321
0        2987000        0          86400  ...   0.0  0.0   0.0
1        2987001        0          86401  ...   0.0  0.0   0.0
2        2987002        0          86469  ...   0.0  0.0   0.0
3        2987003        0          86499  ...   0.0  0.0   0.0
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 376 columns]


## 2) Week 2: We continue to  explore the dataset.
 we want to remove completely column which has at least 508589 Nan. There are around 20 columns.

In [0]:
for i in transaction_new.columns:
  number_Nan = transaction_new[i].isnull().sum().sum()
  if number_Nan >= 508589:
    transaction_new = transaction_new.drop([i], axis = 1)

In [54]:
transaction_new.head(5)

   TransactionID  isFraud  TransactionDT  ...  V319 V320  V321
0        2987000        0          86400  ...   0.0  0.0   0.0
1        2987001        0          86401  ...   0.0  0.0   0.0
2        2987002        0          86469  ...   0.0  0.0   0.0
3        2987003        0          86499  ...   0.0  0.0   0.0
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 339 columns]

Let us verify again the number of Nan

In [55]:
for i in transaction_new.columns:
  print(i, transaction_new[i].isnull().sum().sum())

TransactionID 0
isFraud 0
TransactionDT 0
TransactionAmt 0
ProductCD 0
card1 0
card2 8933
card3 1565
card4 1577
card5 4259
card6 1571
addr1 65706
addr2 65706
dist1 352271
P_emaildomain 94456
R_emaildomain 453249
C1 0
C2 0
C3 0
C4 0
C5 0
C6 0
C7 0
C8 0
C9 0
C10 0
C11 0
C12 0
C13 0
C14 0
D1 1269
D2 280797
D3 262878
D4 168922
D5 309841
D10 76022
D11 279287
D15 89113
M1 271100
M2 271100
M3 271100
M4 281444
M5 350482
M6 169360
M7 346265
M8 346252
M9 346252
V1 279287
V2 279287
V3 279287
V4 279287
V5 279287
V6 279287
V7 279287
V8 279287
V9 279287
V10 279287
V11 279287
V12 76073
V13 76073
V14 76073
V15 76073
V16 76073
V17 76073
V18 76073
V19 76073
V20 76073
V21 76073
V22 76073
V23 76073
V24 76073
V25 76073
V26 76073
V27 76073
V28 76073
V29 76073
V30 76073
V31 76073
V32 76073
V33 76073
V34 76073
V35 168969
V36 168969
V37 168969
V38 168969
V39 168969
V40 168969
V41 168969
V42 168969
V43 168969
V44 168969
V45 168969
V46 168969
V47 168969
V48 168969
V49 168969
V50 168969
V51 168969
V52 168969
V53 77096
V54 77096
V55 77096
V56 77096
V57 77096
V58 77096
V59 77096
V60 77096
V61 77096
V62 77096
V63 77096
V64 77096
V65 77096
V66 77096
V67 77096
V68 77096
V69 77096
V70 77096
V71 77096
V72 77096
V73 77096
V74 77096
V75 89164
V76 89164
V77 89164
V78 89164
V79 89164
V80 89164
V81 89164
V82 89164
V83 89164
V84 89164
V85 89164
V86 89164
V87 89164
V88 89164
V89 89164
V90 89164
V91 89164
V92 89164
V93 89164
V94 89164
V95 314
V96 314
V97 314
V98 314
V99 314
V100 314
V101 314
V102 314
V103 314
V104 314
V105 314
V106 314
V107 314
V108 314
V109 314
V110 314
V111 314
V112 314
V113 314
V114 314
V115 314
V116 314
V117 314
V118 314
V119 314
V120 314
V121 314
V122 314
V123 314
V124 314
V125 314
V126 314
V127 314
V128 314
V129 314
V130 314
V131 314
V132 314
V133 314
V134 314
V135 314
V136 314
V137 314
V167 450909
V168 450909
V169 450721
V170 450721
V171 450721
V172 450909
V173 450909
V174 450721
V175 450721
V176 450909
V177 450909
V178 450909
V179 450909
V180 450721
V181 450909
V182 450909
V183 450909
V184 450721
V185 450721
V186 450909
V187 450909
V188 450721
V189 450721
V190 450909
V191 450909
V192 450909
V193 450909
V194 450721
V195 450721
V196 450909
V197 450721
V198 450721
V199 450909
V200 450721
V201 450721
V202 450909
V203 450909
V204 450909
V205 450909
V206 450909
V207 450909
V208 450721
V209 450721
V210 450721
V211 450909
V212 450909
V213 450909
V214 450909
V215 450909
V216 450909
V217 460110
V218 460110
V219 460110
V220 449124
V221 449124
V222 449124
V223 460110
V224 460110
V225 460110
V226 460110
V227 449124
V228 460110
V229 460110
V230 460110
V231 460110
V232 460110
V233 460110
V234 449124
V235 460110
V236 460110
V237 460110
V238 449124
V239 449124
V240 460110
V241 460110
V242 460110
V243 460110
V244 460110
V245 449124
V246 460110
V247 460110
V248 460110
V249 460110
V250 449124
V251 449124
V252 460110
V253 460110
V254 460110
V255 449124
V256 449124
V257 460110
V258 460110
V259 449124
V260 460110
V261 460110
V262 460110
V263 460110
V264 460110
V265 460110
V266 460110
V267 460110
V268 460110
V269 460110
V270 449124
V271 449124
V272 449124
V273 460110
V274 460110
V275 460110
V276 460110
V277 460110
V278 460110
V279 12
V280 12
V281 1269
V282 1269
V283 1269
V284 12
V285 12
V286 12
V287 12
V288 1269
V289 1269
V290 12
V291 12
V292 12
V293 12
V294 12
V295 12
V296 1269
V297 12
V298 12
V299 12
V300 1269
V301 1269
V302 12
V303 12
V304 12
V305 12
V306 12
V307 12
V308 12
V309 12
V310 12
V311 12
V312 12
V313 1269
V314 1269
V315 1269
V316 12
V317 12
V318 12
V319 12
V320 12
V321 12

Now the maximum number of Nan in a column is around 450909. What can we do with these columns? Do we remove each row corresponding to Nan value? What can we really do in this case.
We decide to remove column with proportion of missing value is around 0.70.

In [91]:
for i in transaction_new.columns:
  percent = transaction_new[i].isnull().sum().sum()/transaction_new.shape[0]
  
  if percent > 0.70 :
    transaction_new = transaction_new.drop([i], axis = 1)
transaction_new.head(7)

   TransactionID  isFraud  TransactionDT  ...  V319 V320  V321
0        2987000        0          86400  ...   0.0  0.0   0.0
1        2987001        0          86401  ...   0.0  0.0   0.0
2        2987002        0          86469  ...   0.0  0.0   0.0
3        2987003        0          86499  ...   0.0  0.0   0.0
4        2987004        0          86506  ...   0.0  0.0   0.0
5        2987005        0          86510  ...   0.0  0.0   0.0
6        2987006        0          86522  ...   0.0  0.0   0.0

[7 rows x 220 columns]

Now, we want to remove column which has nan (Question: Is it correct?)

In [93]:
transaction_new = transaction_new.dropna()
transaction_new.shape

(76416, 220)

In [94]:
transaction_new.head(7)

    TransactionID  isFraud  TransactionDT  ...   V319   V320   V321
9         2987009        0          86536  ...    0.0    0.0    0.0
36        2987036        0          87149  ...    0.0    0.0    0.0
41        2987041        0          87220  ...  774.0  774.0  774.0
46        2987046        0          87285  ...    0.0    0.0    0.0
51        2987051        0          87328  ...    0.0    0.0    0.0
73        2987073        0          87759  ...    0.0    0.0    0.0
86        2987086        0          87950  ...    0.0    0.0    0.0

[7 rows x 220 columns]

Week 3: This week, we search for relationship between the variables. We will make some plot and analyze them.